body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:540px;
  top:383px;
  width:100px;
  height:32px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:400px;
  top:398px;
  width:57px;
  height:17px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  text-decoration:underline;
  color:#4989F2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:60px;
  top:110px;
  width:288px;
  height:305px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:305px;
}
#u7 {
  position:absolute;
  left:2px;
  top:144px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:400px;
  top:296px;
  width:240px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:400px;
  top:336px;
  width:240px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:264px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
